#verification-container { 
    width: 50%;
    height: 70vh;
}

.form-container { 
    display: flex; 
}

.form-container h1 { 
    font-size: xx-large;
}

.form-container .email-input { 
    width: 100%;
    text-align: center;
}

.form-container .verification-input { 
    display: flex;
    flex-direction: row;
    background: #FFF;
}

.input-group { 
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: #FFF;
}

.email-input-group {
    background: #FFF;
}

.h1-smaller { 
    font-size: x-large;
}