div.student-view-container { 
    padding: 70px;
    padding-top: 40px;
    display: flex;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0;
    font-weight: 900;
}

.quest-completion { 
    margin-right: 10px;
    border-radius: 2%;
    background: #fb5233;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.grades { 
    margin-left: 10px; 
    border-radius: 2%;
    background: #fb5233;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.inside-info-children { 
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}