.sign-up-container{
    display: flex;
}

form { 
    justify-content: center;
}


.student-sign-up {
    background: #FFFFFF;
    /* width: 70%;
    margin-right: auto;
    margin-left: auto;  */
}

